html {
  background-color:lightgray;
  color:darkblue;
}

body * {
 box-sizing: border-box;
}

/* font sizes for headings*/
h1 {
  font-size: 2em;
  text-align: center;
  text-decoration: wavy underline;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

/* style the header*/
header {
  height: 100px;
  width: 50%;
  /* border: 5px solid purple; */
  padding-top: 25px;
  margin: auto auto;
}

section {
  padding: 5px;
  margin: 5px;
}

section#bio {
  height: 400px;
  width: 95%;
  padding: 2px;
  margin: 10px auto 0px auto;
  /* border: 3px dashed purple; */
}


#bio>p {
  text-align:justify;
  text-indent: 15px;
}


.first-letter {
  font-size: 32px;
  font-style: oblique;
  font-weight: bold;
}

figure {
  display:inline;
  padding: 5px;
}

#me {
  float:left;
  margin-right:5px;
}

#luna {
  float:right;
  margin-left: 5px;
}

figcaption {
  display: inside;
  text-align: center;
}

figcaption>span {
  color: red;
}

#edu {
height: 350px;
width: 30%;
/* border: 3px dashed blue; */
float: left;
margin-right: 30px;
margin-left: 15px;
padding: 5px;
}

#edu>ul {
  text-align: left;
  padding-top: 15px;
}


#edu>ul>li {
  list-style-type:disc;
  list-style-position: inside;
  padding: 3px;  
}

#job {
  margin-left: 20px;
  margin-right: 20px;
  height: 350px;
  width: 30%;
  padding: 5px;
  /* border: 3px green dashed; */
  float: left;
}

#job>ul {
  display: inline-block;
  text-align: left;
  padding-top: 15px;
}

#job>ul>li {
  list-style-type: square;
  list-style-position: inside;
  text-align: justify;
  padding: 3px;
}

#goals {
  margin-left: 30px;
  height: 350px;
  width: 30%;
  /* border: 3px dashed red; */
  float: left;
  padding: 5px;
}

#goals>ol {
  display: inline-block;
  text-align: left;
  padding-top: 15px;
}

#goals>ol>li {
  list-style-position: inside;
  list-style-type: decimal;
  padding: 2px;
}
#top10 {
  height:600px;
  width: 80%;
  /* border: 3px solid black; */
  float: left;
  margin-left: 110px;
  margin-right: 90px;
  padding: 5px;
}

#top10>img {
 height: 250px;
 width: 100%;
 padding: 10px;

}

#top10>p {
  text-align: justify;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#top10>ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

#top10>ol>li {
  padding: 4px;
}

footer {
  display:inline-block;
  height: 75px;
  width: 100%;
}

footer>p {
  padding-top: 20px;
  text-align: center;
}

footer>p>a {
  text-align: center;
}


